@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  /* border: 1px dashed #080; */
  box-sizing: border-box;
}

:root {
  --font-family-1: "Satisfy", cursive;
  --font-family-2: "Roboto", sans-serif;
  --font-family-3: "Work Sans", sans-serif;
  /* color */
  --color-1: white;
  --color-2: #022859;
  --color-3: #d9ca82;
  --color-4: #f2e8dc;
  --color-5: #05dbf2;
}
/* ========== container... ========== */

body {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-2);
  font-family: var(--font-family-2);
}
/* ========== container. ========== */
/* ========== element... ========== */

h1,
h2,
h3 {
  /* margin: 0; */
  font-family: var(--font-family-3);
}
h1 {
  font-family: var(--font-family-1);

  margin: 0.5em;
}
p {
  font-family: var(--font-family-2);
  font-weight: 300;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-family-3);
}
a:hover {
  color: var(--color-3);
}
hr {
  border: none;
  border-top: 3px solid var(--color-3);
  max-width: 20rem;
}
img {
  display: inline-block;
  max-width: 100%;
}
.p-2 {
  padding: 2em;
}
.x1 {
  font-size: 1em;
}
.x1-5 {
  font-size: 1.5em;
}
.x2 {
  font-size: 2em;
}
.x3 {
  font-size: 3em;
}
.x4 {
  font-size: 4em;
}
.x5 {
  font-size: 5em;
}

/* ========== element. ========== */
/* ========== component... ========== */
.btn {
  border: 1px solid transparent;
  /* border: none; */
  display: inline-block;
  margin: 1em;
  padding: 0.7em;
  background-color: var(--color-4);
  font-weight: 600;
}
.btn:hover {
  background-color: var(--color-3);
  color: var(--color-2);
  border: 1px solid;
}
/* ========== component. ========== */
/* ========== header... ========== */
header .topbar .title-home {
  font-size: 4rem;
  /* margin-bottom: 0; */
}
header .topbar .description {
  font-size: 1.1em;
  margin-bottom: 3em;
}
header .navbar {
  border: 1px solid #0002;
  position: sticky;
  top: 0;
  /* z-index: 3; */
  background-color: var(--color-1);
}
header .navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
header .navbar i {
  cursor: pointer;
}
header .navbar nav i {
  margin: 1em;
}
header .hero {
  background-image: url(img/hero.webp);
  background-size: cover;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .hero h2 {
  font-family: var(--font-family-2);
  font-weight: 300;
}
/* @desktop header... */
@media (min-width: 65rem) {
  header .navbar nav ul {
    justify-content: center;
    display: flex;
    gap: 3vw;
  }
  header .navbar .btnNavbar {
    display: none;
  }
}
/* @desktop header. */
/* @mobile header... */
@media (max-width: 65rem) {
  header .navbar nav {
    text-align-last: left;
    align-items: start;
    position: relative;
    justify-content: space-between;
    padding: 1em;
  }
  header .navbar nav ul {
    display: none;
    line-height: 2em;
    /* margin: 0; */
    /* padding-bottom: 2em; */
    /* padding: 0.2em; */
  }
  header .navbar i {
    font-size: 1.2em;
  }

  header .navbar nav .d-block {
    display: block;
  }
  .mobile-d-none {
    display: none;
  }
}

/* @mobile header. */
/* ========== header. ========== */

/* ========== main... ========== */
main section.shop h2 {
  margin-bottom: 1em;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
  /* margin: 1em; */
  font-size: 0.8rem;
  justify-content: center;
  gap: 2em;
}
main .cards .card {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  /* gap: 2em; */
  /* margin: 2em; */
  padding: 1em;
  box-shadow: 5px 5px 5px #0001;
  border: 1px solid #0002;
}
main .cards .stars {
  font-size: 1.5em;
  color: var(--color-3);
}
main .cards .price-old {
  font-size: 1.5em;
  margin-top: 1em;
  /* margin-bottom: 0; */
  opacity: 0.7;
}
main .cards .price {
  font-size: 2.5em;
  margin: 0.3em;
}

main .quote {
  /* display: flex; */
  /* margin: 1em; */
  padding: 1em;
  /* background-color: var(--color-4); */
  background-image: url(img/bg-quote.webp);
  font-size: 0.9rem;
  font-weight: 300;
  position: relative;
}
main .quote::after {
  content: "";
  background: var(--color-4);
  opacity: 0.8;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
main .quote .container {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 1em;
  margin: 3em 3vw;
  background-color: var(--color-4);
  z-index: 1;
  position: relative;
  opacity: 0.7;
}
main .quote h2 {
  font-family: var(--font-family-3);
  font-weight: 300;
}
main .quote i {
  font-size: 5rem;
  color: white;
}
main .feedback .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .feedback .card {
  box-shadow: none;
  border: none;
  display: flex;
  align-items: center;
}
main .feedback img {
  max-width: 120px;
  border-radius: 50%;
  margin: 1em;
  padding: 1em;
}
main .feedback .content {
  background: var(--color-4);
  padding: 2em;
  border-radius: 3em;
}
main .feedback h3 {
  color: var(--color-3);
  font-size: 1.5em;
  margin: 0;
}
main .feedback p.date {
  color: var(--color-5);
  font-weight: normal;
}
/* ========== main. ========== */
/*  */
/* ========== footer... ========== */
/* ========== .contact... */
footer .contact {
  background-color: var(--color-3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .contact .social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
}
footer .contact i {
  color: var(--color-1);
  font-size: 2rem;
  width: 60px;
  height: 60px;
  background-color: var(--color-5);
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* margin: 0.3em; */
  /* gap: 1em; */
  border-radius: 50%;
}
footer .contact i:hover {
  background-color: var(--color-2);
  cursor: pointer;
}
@media (max-width: 65rem) {
  footer .contact .social {
    margin-top: 2em;
  }
  footer .contact {
    display: block;
  }
}
/* ========== .contact. */

footer .policy {
  background: var(--color-2);
  color: var(--color-3);
  font-size: 0.6em;
  font-weight: 300;
  padding: 5em;
}
footer .policy h2 {
  margin: 0;
  font-weight: normal;
}
footer .policy .p-absolute {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .policy .cookies {
  font-size: 3em;

  left: 1em;
  bottom: 1em;
  color: var(--color-1);
  background-color: var(--color-2);
  border-radius: 50%;
  padding: 0.3em;
  /* height: 1.3em; */
  /* width: 1.4em; */
}
footer .policy a.whatsapp {
  font-size: 3em;
  right: 1em;
  bottom: 1em;
  /* color: #25d366; */
  color: var(--color-1);
  background-color: var(--color-4);
  /* height: 1em; */
  /* width: 1em; */
  padding: 0.3em;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  box-shadow: 2px 2px 8px 0px #0004;
  z-index: 1;
}
footer .policy a.whatsapp:hover {
  background-color: var(--color-3);
  color: var(--color-1);
}
footer .policy .copyright {
  color: var(--color-1);
}

/* ========== footer. ========== */
