<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>Dashboard</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <h1>Download</h1>
      <a class="btn dark" href="https://f2ogzzzzbazirluuxgcbwg.on.drv.tw/media/asset.zip" download>Download zip</a>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
